# Dependencies
node_modules/
frontend/node_modules/
admin-panel/node_modules/

# Environment Variables
.env
frontend/.env
admin-panel/.env

# Uploaded Files
uploads/

# Build Files
dist/
admin-panel/dist/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/

# OS Files
.DS_Store
Thumbs.db
